body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

header {
    background-color: #d6e0f0;
    color: #333;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 2em;
    font-weight: bold;
}

header nav {
    display: flex;
    gap: 45px;
    font-size: 1.2em;
}

header nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

header nav a:hover {
    text-decoration: underline;
}

.auth-buttons button {
    margin-left: 10px;
    padding: 10px 25px;
    border: 1px solid rgb(154, 154, 154);
    background-color: rgb(154, 154, 154);
    border-radius: 10px;
    cursor: pointer;
}

.auth-buttons button:hover {
    background-color: #333;
    color: white;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.search-bar input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
}

.search-bar .clear-btn {
    background-color: #ccc;
    border: none;
    border-radius: 50%;
    padding: 5px 10px;
    margin-left: -40px;
    cursor: pointer;
}

.search-bar .clear-btn:hover {
    background-color: #999;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: white;
}

.sale-banner {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo-img {
    max-width: 150px;
    height: auto;
}

.sale-info {
    text-align: center;
}

.sale-info h1 {
    color: #e63946;
    font-size: 2.5em;
    margin: 0;
}

.sale-info .shop-now {
    background-color: #e63946;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
}

.sale-info .shop-now:hover {
    background-color: #d62828;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
